body {
    background-image: gold;

}

form {
    position: absolute;
    margin-top: 5%;
    margin-left: 38%;
}

.botao {
margin-bottom: 15%;

}

.TJ {
position: absolute;
margin-top: 5%;
margin-left: 3%;
}
